<p><strong>Congratulation on completing this course!</strong></p>

<p>Now that you’ve mastered the curriculum, check out some of my other .NET/C# courses:</p>

<ul><li><a href="http://bit.ly/2p3aZww" rel="nofollow" title="http://bit.ly/2p3aZww">Design Patterns in C# and .NET</a></li><li><a href="http://bit.ly/2oorxgw" rel="nofollow" title="http://bit.ly/2oorxgw">Mastering LINQ with C# and .NET</a></li><li><a href="http://bit.ly/2psTJhm" rel="nofollow" title="http://bit.ly/2psTJhm">Learn Parallel Programming with C# and .NET</a></li><li><a href="http://bit.ly/2osdiJ4" rel="nofollow" title="http://bit.ly/2osdiJ4">Dependency Injection in C# and .NET with the Autofac Library</a></li><li><a href="http://bit.ly/2p4Qn7M" rel="nofollow" title="http://bit.ly/2p4Qn7M">Mastering Reactive Extensions with C# and .NET</a></li></ul>

<p>Enjoy!</p>

<p><em>Dmitri</em></p>